<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>

<body>
    <p>this a test page --- test1.html --- rrweb录像演示</p>
    <input type="text" id="input">
    <button id="btn"> 开始演示</button><br>
    <script type="text/javascript">
        // document.querySelector("#btn").onclick = function () {
        //     let token = 'xxxtokenxxx';
        //     $.ajax({
        //         type: "GET",
        //         url: "http://localhost:9988/users/getrrweb", //访问的链接
        //         dataType: 'text',
        //         success: function (res) {  //成功的回调函数
        //             // if(!res.motion) return console.log('res.motion 为null',res);

        //             var events = JSON.parse(res);
        //             events = JSON.parse(events['motion']);
        //             events = events['events']
        //             new rrwebPlayer({
        //                 target: document.body, // 可以自定义 DOM 元素
        //                 data: {
        //                     events,
        //                 },
        //             });
        //         },
        //         error: function (e) {
        //             console.log("error");
        //         }
        //     });
        // }

        document.querySelector("#btn").onclick = function () {
            // console.log( $('input').val());
            let nameVal = $('input').val();
            $.ajax({
                type: "POST",
                url: "http://localhost:9988/users/getInfoByName", //访问的链接
                data: { "name": nameVal },
                dataType: 'json',
                success: function (res) {  //成功的回调函数
                    console.log(res);
                },
                error: function (e) {
                    console.log("error");
                    console.error(e);
                }
            });
        }
    </script>
</body>

</html>